{{#each this}}

	<div class="col-sm-4" id="product--{{@index}}">
		<h4 class="card-header">{{Product Name}}</h4>
		<p>{{Product Description- Lorem ipsum pharetra facilisis justo curae aliquam curabitur dictum.}}</p>
		<p class="subscript">Procuct Type-{{Product Type}}</p>
		<p class="subscript">Product Category-{{Product Category}}</p>
	</div>

{{/each}}